USE [master]
GO
/****** Object:  Database [Parking]    Script Date: 9/14/2024 10:08:55 AM ******/
CREATE DATABASE [Parking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Parking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Parking.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Parking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Parking_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Parking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Parking]
GO
/****** Object:  UserDefinedFunction [dbo].[SplitStrings]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitStrings]
(
   @List       NVARCHAR(MAX),
   @Delimiter  NVARCHAR(255)
)
RETURNS TABLE
WITH SCHEMABINDING
AS
   RETURN 
   (  
      SELECT Item = y.i.value('(./text())[1]', 'nvarchar(4000)')
      FROM 
      ( 
        SELECT x = CONVERT(XML, '<i>' 
          + REPLACE(@List, @Delimiter, '</i><i>') 
          + '</i>').query('.')
      ) AS a CROSS APPLY x.nodes('i') AS y(i)
   );
GO
/****** Object:  Table [dbo].[DurationOfParking]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DurationOfParking](
	[ParkingTimeID] [int] IDENTITY(1,1) NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[ParkingDetailsID] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParkingTimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[ErrorLogID] [int] IDENTITY(1,1) NOT NULL,
	[ErrorTime] [datetime] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[ErrorProcedure] [nvarchar](200) NULL,
	[ErrorLine] [int] NULL,
	[UserName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOAMaster]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOAMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyProfile]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyProfile](
	[ProfileId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[FirstName] [nvarchar](100) NULL,
	[MiddleName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[DOB] [date] NULL,
	[SecondryEmail] [nvarchar](100) NULL,
	[SecondryContact] [nvarchar](12) NULL,
	[OfficeContract] [nvarchar](20) NULL,
	[MailingAddress] [nvarchar](500) NULL,
	[LoginImage] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationTemplate]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationTemplate](
	[NotificationTemplateId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NULL,
	[Definition] [nvarchar](max) NULL,
	[DefaultToAddress] [nvarchar](max) NULL,
	[DefaultCCAddress] [nvarchar](max) NULL,
	[DefaultBCCAddress] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Timestamp] [varbinary](max) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationTemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingDetails]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingDetails](
	[ParkingDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[userId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[HOAId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ParkingDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingLocation]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingLocation](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[Area] [nvarchar](255) NOT NULL,
	[ParkingPicture] [varbinary](max) NULL,
	[ParkingDetailsID] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingWorkFlowHistory]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingWorkFlowHistory](
	[ParkingRequestHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[ParkingDetailsID] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParkingRequestHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ummenu]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ummenu](
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[URL] [nvarchar](100) NULL,
	[MenuItemName] [nvarchar](100) NULL,
	[MenuItemDescription] [nvarchar](max) NULL,
	[MenuItemIcon] [nvarchar](max) NULL,
	[ParentMenuID] [int] NULL,
	[RoleId] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[EmailId] [nvarchar](100) NOT NULL,
	[MobileNumber] [nvarchar](20) NOT NULL,
	[PreferedOTP] [int] NOT NULL,
	[Iam] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
	[TimeStamp] [timestamp] NOT NULL,
	[OTP] [nvarchar](6) NULL,
	[OTPSent] [datetime] NULL,
	[HOAId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 9/14/2024 10:08:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Year] [int] NULL,
	[Color] [nvarchar](30) NULL,
	[TagNumber] [nvarchar](20) NULL,
	[VehiclePicture] [varbinary](max) NULL,
	[userId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DurationOfParking] ON 

INSERT [dbo].[DurationOfParking] ([ParkingTimeID], [StartDateTime], [EndDateTime], [ParkingDetailsID], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted]) VALUES (1, CAST(N'2024-09-18T23:33:00.000' AS DateTime), CAST(N'2024-09-18T15:28:00.000' AS DateTime), 1, 1, CAST(N'2024-09-01T23:28:57.060' AS DateTime), 1, CAST(N'2024-09-01T23:29:16.520' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[DurationOfParking] OFF
GO
SET IDENTITY_INSERT [dbo].[ErrorLog] ON 

INSERT [dbo].[ErrorLog] ([ErrorLogID], [ErrorTime], [ErrorMessage], [ErrorProcedure], [ErrorLine], [UserName]) VALUES (1, CAST(N'2024-09-01T21:44:23.327' AS DateTime), N'The INSERT statement conflicted with the FOREIGN KEY constraint "FK__Users__HOAId__28ED12D1". The conflict occurred in database "Parking", table "dbo.HOAMaster", column ''Id''.', N'SP_CreateNewUser', 22, N'rajkumar')
INSERT [dbo].[ErrorLog] ([ErrorLogID], [ErrorTime], [ErrorMessage], [ErrorProcedure], [ErrorLine], [UserName]) VALUES (2, CAST(N'2024-09-01T21:44:44.410' AS DateTime), N'The INSERT statement conflicted with the FOREIGN KEY constraint "FK__Users__HOAId__28ED12D1". The conflict occurred in database "Parking", table "dbo.HOAMaster", column ''Id''.', N'SP_CreateNewUser', 22, N'rajkumar')
SET IDENTITY_INSERT [dbo].[ErrorLog] OFF
GO
SET IDENTITY_INSERT [dbo].[HOAMaster] ON 

INSERT [dbo].[HOAMaster] ([Id], [Value]) VALUES (1, N'Community Pool')
INSERT [dbo].[HOAMaster] ([Id], [Value]) VALUES (2, N'Clubhouse')
INSERT [dbo].[HOAMaster] ([Id], [Value]) VALUES (3, N'Fitness Center')
SET IDENTITY_INSERT [dbo].[HOAMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[MyProfile] ON 

SET IDENTITY_INSERT [dbo].[MyProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[NotificationTemplate] ON 

SET IDENTITY_INSERT [dbo].[NotificationTemplate] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingDetails] ON 

INSERT [dbo].[ParkingDetails] ([ParkingDetailsID], [Status], [VehicleID], [userId], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted], [HOAId]) VALUES (1, N'New Parking', 1, 1, 1, CAST(N'2024-09-01T23:28:57.057' AS DateTime), 1, CAST(N'2024-09-01T23:29:16.517' AS DateTime), 0, 2)
SET IDENTITY_INSERT [dbo].[ParkingDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingLocation] ON 

INSERT [dbo].[ParkingLocation] ([LocationID], [Area], [ParkingPicture], [ParkingDetailsID], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted]) VALUES (1, N'Left Urban', 0x, 1, 1, CAST(N'2024-09-01T23:28:57.060' AS DateTime), 1, CAST(N'2024-09-01T23:29:16.520' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ParkingLocation] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingWorkFlowHistory] ON 

INSERT [dbo].[ParkingWorkFlowHistory] ([ParkingRequestHistoryID], [Status], [ParkingDetailsID], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted]) VALUES (1, N'Draft', 1, 1, CAST(N'2024-09-01T23:28:57.063' AS DateTime), 1, CAST(N'2024-09-01T23:28:57.063' AS DateTime), 0)
INSERT [dbo].[ParkingWorkFlowHistory] ([ParkingRequestHistoryID], [Status], [ParkingDetailsID], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted]) VALUES (2, N'New Parking', 1, 1, CAST(N'2024-09-01T23:29:16.520' AS DateTime), 1, CAST(N'2024-09-01T23:29:16.520' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ParkingWorkFlowHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (1, N'Customer', N'Customer')
INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (2, N'HOA', N'House Owner Association')
INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (3, N'Towing Company', N'')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[ummenu] ON 

INSERT [dbo].[ummenu] ([MenuID], [URL], [MenuItemName], [MenuItemDescription], [MenuItemIcon], [ParentMenuID], [RoleId]) VALUES (1, N'', N'', N'', N'', NULL, N'0')
INSERT [dbo].[ummenu] ([MenuID], [URL], [MenuItemName], [MenuItemDescription], [MenuItemIcon], [ParentMenuID], [RoleId]) VALUES (2, N'/parkingSolutions/dashboard', N'Dashboard', N'', N'', 1, N'4')
INSERT [dbo].[ummenu] ([MenuID], [URL], [MenuItemName], [MenuItemDescription], [MenuItemIcon], [ParentMenuID], [RoleId]) VALUES (3, N'', N'My Profile', N'', N'fas fa-user', 1, N'1,2,3,4')
SET IDENTITY_INSERT [dbo].[ummenu] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [Password], [EmailId], [MobileNumber], [PreferedOTP], [Iam], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDeleted], [OTP], [OTPSent], [HOAId]) VALUES (1, N'thamarai@123', N'123', N'thamaraikannan222@gmail.com', N'9876543210', 1, 4, CAST(N'2024-09-01T23:24:00.907' AS DateTime), N'thamarai@123', CAST(N'2024-09-02T20:25:05.307' AS DateTime), N'1', 0, N'68960', CAST(N'2024-09-02T20:25:05.307' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
ALTER TABLE [dbo].[DurationOfParking] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DurationOfParking] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[DurationOfParking] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT (getdate()) FOR [ErrorTime]
GO
ALTER TABLE [dbo].[ParkingDetails] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ParkingDetails] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[ParkingDetails] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ParkingLocation] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ParkingLocation] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[ParkingLocation] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Vehicle] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DurationOfParking]  WITH CHECK ADD  CONSTRAINT [FK__DurationO__Parki__0880433F] FOREIGN KEY([ParkingDetailsID])
REFERENCES [dbo].[ParkingDetails] ([ParkingDetailsID])
GO
ALTER TABLE [dbo].[DurationOfParking] CHECK CONSTRAINT [FK__DurationO__Parki__0880433F]
GO
ALTER TABLE [dbo].[MyProfile]  WITH CHECK ADD  CONSTRAINT [FK__MyProfile__UserI__0B91BA1] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[MyProfile] CHECK CONSTRAINT [FK__MyProfile__UserI__0B91BA1]
GO
ALTER TABLE [dbo].[ParkingDetails]  WITH CHECK ADD  CONSTRAINT [FK__ParkingDe__userI__7D0E9093] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ParkingDetails] CHECK CONSTRAINT [FK__ParkingDe__userI__7D0E9093]
GO
ALTER TABLE [dbo].[ParkingDetails]  WITH CHECK ADD  CONSTRAINT [FK_ParkingDetails_HoaMaster] FOREIGN KEY([HOAId])
REFERENCES [dbo].[HOAMaster] ([Id])
GO
ALTER TABLE [dbo].[ParkingDetails] CHECK CONSTRAINT [FK_ParkingDetails_HoaMaster]
GO
ALTER TABLE [dbo].[ParkingLocation]  WITH CHECK ADD  CONSTRAINT [FK__ParkingLo__Parki__1A9EF37A] FOREIGN KEY([ParkingDetailsID])
REFERENCES [dbo].[ParkingDetails] ([ParkingDetailsID])
GO
ALTER TABLE [dbo].[ParkingLocation] CHECK CONSTRAINT [FK__ParkingLo__Parki__1A9EF37A]
GO
ALTER TABLE [dbo].[ParkingWorkFlowHistory]  WITH CHECK ADD  CONSTRAINT [FK_ParkingWorkFlowHistory_ParkingWorkflows] FOREIGN KEY([ParkingDetailsID])
REFERENCES [dbo].[ParkingDetails] ([ParkingDetailsID])
GO
ALTER TABLE [dbo].[ParkingWorkFlowHistory] CHECK CONSTRAINT [FK_ParkingWorkFlowHistory_ParkingWorkflows]
GO
ALTER TABLE [dbo].[ummenu]  WITH CHECK ADD  CONSTRAINT [FK_ParentMenu] FOREIGN KEY([ParentMenuID])
REFERENCES [dbo].[ummenu] ([MenuID])
GO
ALTER TABLE [dbo].[ummenu] CHECK CONSTRAINT [FK_ParentMenu]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([HOAId])
REFERENCES [dbo].[HOAMaster] ([Id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([HOAId])
REFERENCES [dbo].[HOAMaster] ([Id])
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK__ParkingDe__Vehic__7C1A6C5A] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicle] ([VehicleID])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK__ParkingDe__Vehic__7C1A6C5A]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK__Vehicle__userId__76619304] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK__Vehicle__userId__76619304]
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateNewUser]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE      PROCEDURE [dbo].[SP_CreateNewUser]
    @UserName NVARCHAR(100),
    @Password NVARCHAR(100),
    @EmailId NVARCHAR(100),
    @MobileNumber NVARCHAR(20),
    @PreferedOTP int,
    @Iam int,
    @HOAId int
  
AS
BEGIN
    SET NOCOUNT ON;

	Declare @UserId int=0;
    
    BEGIN TRY
     

        INSERT INTO Users (
            UserName,
            Password,
            EmailId,
            MobileNumber,
            PreferedOTP,
            Iam,
			HOAId,
            CreatedDate,
            CreatedBy,
            TimeStamp
        )
        VALUES (
            @UserName,
            @Password,
            @EmailId,
            @MobileNumber,
            @PreferedOTP,
            @Iam,
			@HOAId,
            GETDATE(),        
            @UserName,
            DEFAULT         
        );




  
      SET @UserId=(SELECT SCOPE_IDENTITY() AS UserId);


	  
		INSERT INTO MyProfile
		(UserId
		,FirstName
		,MiddleName
		,LastName
		,DOB
		,SecondryEmail
		,SecondryContact
		,OfficeContract
		,MailingAddress
		,LoginImage)values (@UserId,'','','',null,'','','','',null) 

	  Select * from Users where UserId= @UserId;

    END TRY
    BEGIN CATCH
       
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

   
        INSERT INTO ErrorLog (
            ErrorMessage,
            ErrorProcedure,
            ErrorLine,
            UserName
        )
        VALUES (
            ERROR_MESSAGE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            @UserName  
        );

      
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteMyProfileHouseOwnerVechileDetails]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




  
CREATE          PROCEDURE [dbo].[SP_DeleteMyProfileHouseOwnerVechileDetails]  
   
    @VehicleID INT
  
  
AS  
BEGIN  
    BEGIN TRY  
	Declare @msg nvarchar(max)=''
	IF EXISTS(select * from Vehicle V  inner join ParkingDetails P on P.VehicleID=V.VehicleID Where V.VehicleID=@VehicleID)
	Begin
			SET @msg= 'Sorry ! Unable to Delete Vehicle Since its refered by Parking Ticket'
	End
	Else

	Begin
	update Vehicle  set IsDeleted=1 Where VehicleID=@VehicleID
		SET @msg= 'Success'
	End
   
   Select @msg;
	
    END TRY  
    BEGIN CATCH  
        PRINT 'error';  
        PRINT ERROR_MESSAGE();  
    END CATCH  
END;  
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllHOAAssignments]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








  
CREATE        PROCEDURE [dbo].[SP_GetAllHOAAssignments]  
   
    @Username nvarchar(30)
  
  
AS  
BEGIN  
    BEGIN TRY  
  

  Declare @UserId int=(select UserId from users where UserName=@Username)

			SELECT 
		PAR.ParkingDetailsID,
		 'PAR'+Convert(nvarchar(4),PAR.ParkingDetailsID)+'/'+Convert(nvarchar(4),MOnth(PAR.CreatedDate))+'/'+Convert(nvarchar(4),Year(PAR.CreatedDate)) DocNo,

		 PAR.Status,
		 VEH.VehicleID,
		 VEH.Make,
		 VEH.Model,
		 VEH.Year,
		 VEH.Color,
		 VEH.TagNumber,
		 VEH.VehiclePicture,
		 LOC.LocationId,
		 LOC.Area,
		 LOC.ParkingPicture ,
		 convert(varchar, DUR.StartDateTime, 22)StartDateTime,
		 convert(varchar,DUR.EndDateTime, 22)EndDateTime
		
		FROM ParkingDetails PAR
		INNER JOIN ParkingLocation LOC ON LOC.ParkingDetailsID=PAR.ParkingDetailsID
		INNER JOIN DurationOfParking DUR ON DUR.ParkingDetailsID=PAR.ParkingDetailsID
		INNER JOIN Vehicle VEH ON VEH.VehicleID=PAR.VehicleID
		INNER JOIN Users U ON U.HOAId=PAR.HOAId
		--INNER join ParkingWorkFlowHistory HIS on HIS.ParkingDetailsID=PAR.ParkingDetailsID
		WHERE U.userId=@UserId  and 
		PAR.Status  in ('New Parking','Approved','Rejected','Towing Request Inprogress','Towed')

  
    END TRY  
    BEGIN CATCH  
        PRINT 'error';  
        PRINT ERROR_MESSAGE();  
    END CATCH  
END;  
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllMyProfileHouseOwnerVechileDetails]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[SP_GetAllMyProfileHouseOwnerVechileDetails]  
@userName nvarchar(30)  
AS  
BEGIN  
    BEGIN TRY  
 Declare @UserId int=(Select UserId from Users where UserName=@userName)  
        SELECT VehicleID, Make, Model, Year, Color, TagNumber, VehiclePicture, userId  
        FROM Vehicle where userId=@UserId  and IsDeleted=0
    END TRY  
    BEGIN CATCH  
        PRINT 'Error occurred during select all operation:';  
        PRINT ERROR_MESSAGE();  
    END CATCH  
END;  
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllParkingRequest]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






  
CREATE          PROCEDURE [dbo].[SP_GetAllParkingRequest]  
   
    @Username nvarchar(30)
  
  
AS  
BEGIN  
    BEGIN TRY  
  

  Declare @UserId int=(select UserId from users where UserName=@Username)

			SELECT 
		 PAR.ParkingDetailsID,
		 'PAR'+Convert(nvarchar(4),PAR.ParkingDetailsID)+'/'+Convert(nvarchar(4),MOnth(PAR.CreatedDate))+'/'+Convert(nvarchar(4),Year(PAR.CreatedDate)) DocNo,
		 PAR.Status,
		 VEH.VehicleID,
		 VEH.Make,
		 VEH.Model,
		 VEH.Year,
		 VEH.Color,
		 VEH.TagNumber,
		 VEH.VehiclePicture,
		 LOC.LocationId,
		 LOC.Area,
		 LOC.ParkingPicture ,
		 DUR.ParkingTimeId,
		 convert(varchar, DUR.StartDateTime, 22)StartDateTime,
		 convert(varchar,DUR.EndDateTime, 22)EndDateTime
		FROM ParkingDetails PAR
		INNER JOIN ParkingLocation LOC ON LOC.ParkingDetailsID=PAR.ParkingDetailsID
		INNER JOIN DurationOfParking DUR ON DUR.ParkingDetailsID=PAR.ParkingDetailsID
		INNER JOIN Vehicle VEH ON VEH.VehicleID=PAR.VehicleID
		--INNER join ParkingWorkFlowHistory HIS on HIS.ParkingDetailsID=PAR.ParkingDetailsID
		WHERE PAR.userId=@UserId

  
    END TRY  
    BEGIN CATCH  
        PRINT 'error';  
        PRINT ERROR_MESSAGE();  
    END CATCH  
END;  
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTowingCompanyAssignments]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








  
CREATE         PROCEDURE [dbo].[SP_GetAllTowingCompanyAssignments]  
   
    @Username nvarchar(30)
  
  
AS  
BEGIN  
    BEGIN TRY  
  

  Declare @UserId int=(select UserId from users where UserName=@Username)

			SELECT 
		PAR.ParkingDetailsID,
		 'PAR'+Convert(nvarchar(4),PAR.ParkingDetailsID)+'/'+Convert(nvarchar(4),MOnth(PAR.CreatedDate))+'/'+Convert(nvarchar(4),Year(PAR.CreatedDate)) DocNo,
		 PAR.Status,
		 VEH.VehicleID,
		 VEH.Make,
		 VEH.Model,
		 VEH.Year,
		 VEH.Color,
		 VEH.TagNumber,
		 VEH.VehiclePicture,
		 LOC.LocationId,
		 LOC.Area,
		 LOC.ParkingPicture ,
		 DUR.ParkingTimeId,
		 convert(varchar, DUR.StartDateTime, 22)StartDateTime,
		 convert(varchar,DUR.EndDateTime, 22)EndDateTime
		
		FROM ParkingDetails PAR
		INNER JOIN ParkingLocation LOC ON LOC.ParkingDetailsID=PAR.ParkingDetailsID
		INNER JOIN DurationOfParking DUR ON DUR.ParkingDetailsID=PAR.ParkingDetailsID
		INNER JOIN Vehicle VEH ON VEH.VehicleID=PAR.VehicleID
		INNER JOIN Users U ON U.HOAId=PAR.HOAId

		--INNER join ParkingWorkFlowHistory HIS on HIS.ParkingDetailsID=PAR.ParkingDetailsID
		WHERE PAR.userId=@UserId  and PAR.Status  in ('Towing Request Inprogress','Towed','Requested for Delivery','Delivered')

  
    END TRY  
    BEGIN CATCH  
        PRINT 'error';  
        PRINT ERROR_MESSAGE();  
    END CATCH  
END;  
GO
/****** Object:  StoredProcedure [dbo].[SP_GetHOAMasterList]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  
CREATE         PROCEDURE [dbo].[SP_GetHOAMasterList]  
   
    
AS  
BEGIN  
    BEGIN TRY  
  
select 0 Id,'Select HOA' Value
  union
 Select * from HOAMaster

  
    END TRY  
    BEGIN CATCH  
        PRINT 'error';  
        PRINT ERROR_MESSAGE();  
    END CATCH  
END;  
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLoggedInUserDetails]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[SP_GetLoggedInUserDetails] 
  
    @UserName nvarchar(100)
	
AS
BEGIN
    SET NOCOUNT ON;

	
    
    BEGIN TRY
     

	
	select us.UserId,us.UserName,isnull(pro.FirstName,us.UserName)FirstName,rl.RoleID UserRoleId,rl.RoleName UserRole,pro.LoginImage as UserImage
	from users us
	inner join Role rl on rl.RoleID=us.Iam
	inner join MyProfile pro on pro.UserId=us.UserId
	where UserName=@UserName 

	

    END TRY
    BEGIN CATCH
       
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

   
        INSERT INTO ErrorLog (
            ErrorMessage,
            ErrorProcedure,
            ErrorLine,
            UserName
        )
        VALUES (
            ERROR_MESSAGE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            0  
        );

      
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMyProfileHouseOwnerVechileDetails]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_GetMyProfileHouseOwnerVechileDetails]
    @VehicleID INT
AS
BEGIN
    BEGIN TRY
        SELECT VehicleID, Make, Model, Year, Color, TagNumber, VehiclePicture, userId
        FROM Vehicle
        WHERE VehicleID = @VehicleID and IsDeleted=0;
        
        IF @@ROWCOUNT = 0
        BEGIN
            PRINT 'No record found with the specified VehicleID.';
        END
    END TRY
    BEGIN CATCH
        PRINT 'Error occurred during select operation:';
        PRINT ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNotificationTemplate]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE      PROCEDURE [dbo].[SP_GetNotificationTemplate] 
  
    @NotificationTemplateId int
  
AS
BEGIN
    SET NOCOUNT ON;

	Declare @UserId int=0;
    
    BEGIN TRY
     

        
	  Select * from NotificationTemplate where NotificationTemplateId= @NotificationTemplateId and IsDeleted=0;

    END TRY
    BEGIN CATCH
       
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

   
        INSERT INTO ErrorLog (
            ErrorMessage,
            ErrorProcedure,
            ErrorLine,
            UserName
        )
        VALUES (
            ERROR_MESSAGE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            0  
        );

      
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetParkingRequest]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



  
CREATE        PROCEDURE [dbo].[SP_GetParkingRequest]  
   
    @ParkingDetailsID INT
  
  
AS  
BEGIN  
    BEGIN TRY  
  
		SELECT 
		PAR.ParkingDetailsID,
		 PAR.Status,
		 VEH.VehicleID,
		 VEH.Make,
		 VEH.Model,
		 VEH.Year,
		 VEH.Color,
		 VEH.TagNumber,
		 VEH.VehiclePicture,
		 LOC.LocationId,
		 LOC.Area,
		 LOC.ParkingPicture ,
		 DUR.ParkingTimeId,
		 DUR.StartDateTime,
		 DUR.EndDateTime 
		FROM ParkingDetails PAR
		INNER JOIN ParkingLocation LOC ON LOC.ParkingDetailsID=PAR.ParkingDetailsID
		INNER JOIN DurationOfParking DUR ON DUR.ParkingDetailsID=PAR.ParkingDetailsID
		INNER JOIN Vehicle VEH ON VEH.VehicleID=PAR.VehicleID
		WHERE PAR.ParkingDetailsID=@ParkingDetailsID

  
    END TRY  
    BEGIN CATCH  
        PRINT 'error';  
        PRINT ERROR_MESSAGE();  
    END CATCH  
END;  
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserDetails]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE            PROCEDURE [dbo].[SP_GetUserDetails] 
  
    @UserName nvarchar(100)
	
AS
BEGIN
    SET NOCOUNT ON;

	
    
    BEGIN TRY
     

	
	select * from users where UserName=@UserName 

	

    END TRY
    BEGIN CATCH
       
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

   
        INSERT INTO ErrorLog (
            ErrorMessage,
            ErrorProcedure,
            ErrorLine,
            UserName
        )
        VALUES (
            ERROR_MESSAGE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            0  
        );

      
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserMenu]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE        PROCEDURE [dbo].[SP_GetUserMenu] 
  
    @UserName nvarchar(100)
  
AS
BEGIN
    SET NOCOUNT ON;

	
    
    BEGIN TRY
     

   select * from (
	select (Split.Item )as AssignedRoles,* from ummenu
    CROSS APPLY dbo.SplitStrings(RoleId, ',') AS Split) menu inner join 
	users umuser on umuser.Iam=menu.AssignedRoles
    where umuser.UserName=@UserName

	END TRY
    BEGIN CATCH
       
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

   
        INSERT INTO ErrorLog (
            ErrorMessage,
            ErrorProcedure,
            ErrorLine,
            UserName
        )
        VALUES (
            ERROR_MESSAGE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            0  
        );

      
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserProfile]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE          PROCEDURE [dbo].[SP_GetUserProfile]
    @UserName nvarchar(max)
 AS
BEGIN
    SET NOCOUNT ON;


	
    
    BEGIN TRY
     

        	Select  
			 profiles.ProfileId
			,profiles.UserId
			,isnull(profiles.FirstName,'') FirstName
			,isnull(profiles.MiddleName,'')MiddleName
			,isnull(profiles.LastName,'')LastName
			,profiles.DOB
			,users.EmailId as PrimaryEmail
			 ,users.MobileNumber as PrimaryContact
			,isnull(profiles.SecondryEmail,'')SecondryEmail
			,isnull(profiles.SecondryContact,'')SecondryContact
			,isnull(profiles.OfficeContract,'')OfficeContact
			,isnull(profiles.MailingAddress,'')MailingAddress
			,profiles.LoginImage
			from MyProfile profiles 
			right join Users users on users.UserId=profiles.ProfileId
			where users.UserName=@UserName;


			
    END TRY
    BEGIN CATCH
       
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

   
        INSERT INTO ErrorLog (
            ErrorMessage,
            ErrorProcedure,
            ErrorLine,
            UserName
        )
        VALUES (
            ERROR_MESSAGE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            (select Top 1 UserId from users where UserName=@UserName)  
        );

      
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUserDetailsExists]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE       PROCEDURE [dbo].[SP_IsUserDetailsExists] 
  
    @UserName nvarchar(100),
	@EmailId nvarchar(100),
	@MobileNumber nvarchar(14)
  
AS
BEGIN
    SET NOCOUNT ON;

	Declare @error nvarchar(max)='';
    
    BEGIN TRY
     
	IF EXISTS (select * from users where UserName=@UserName and IsDeleted=0)
	Begin
		SET @error='UserName Already Exists;';
	End
	IF EXISTS (select * from users where EmailId=@EmailId and IsDeleted=0)
	Begin
			SET @error=@error+'Email Already Exists;';
			
	End
	IF EXISTS (select * from users where MobileNumber=@MobileNumber and IsDeleted=0)
	Begin
			SET @error=@error+'Mobile Number Already Exists;';
	End
	
	
	select @error;
    
	END TRY
    BEGIN CATCH
       
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

   
        INSERT INTO ErrorLog (
            ErrorMessage,
            ErrorProcedure,
            ErrorLine,
            UserName
        )
        VALUES (
            ERROR_MESSAGE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            0  
        );

      
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_IsValidUser]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE              PROCEDURE [dbo].[SP_IsValidUser] 
  
    @UserName nvarchar(100),
	@Password nvarchar(100)
  
AS
BEGIN
    SET NOCOUNT ON;

	Declare @error nvarchar(max)='';
    
    BEGIN TRY
     

	
	IF not EXISTS (select * from users where UserName=@UserName and [Password]=@Password and IsDeleted=0)
	Begin
		SET @error+='Invalid UserName or Password;';
	End

	

	select @error;

    END TRY
    BEGIN CATCH
       
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

   
        INSERT INTO ErrorLog (
            ErrorMessage,
            ErrorProcedure,
            ErrorLine,
            UserName
        )
        VALUES (
            ERROR_MESSAGE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            0  
        );

      
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_MyProfileHouseOwnerVechileDetailsSave]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
CREATE     PROCEDURE [dbo].[SP_MyProfileHouseOwnerVechileDetailsSave]  
   @VehicleID int,  
    @Make NVARCHAR(50),  
    @Model NVARCHAR(50),  
    @Year INT,  
    @Color NVARCHAR(30),  
    @TagNumber NVARCHAR(20),  
    @VehiclePicture VARBINARY(MAX), -- Use NVARCHAR(MAX) if storing URL or path  
    @userName NVARCHAR(30)  
AS  
BEGIN  
    BEGIN TRY  
  
  Declare @UserId int=(Select UserId from Users where UserName=@userName)  
  if(@VehicleID=0)  
  begin  
    
        INSERT INTO Vehicle (Make, Model, Year, Color, TagNumber, VehiclePicture, userId,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate)
        VALUES (@Make, @Model, @Year, @Color, @TagNumber, @VehiclePicture, @UserId,@UserId,SYSDATETIME(),@UserId,SYSDATETIME());  
  end  
  else  
  begin  
      UPDATE Vehicle  
        SET   
            Make = @Make,  
            Model = @Model,  
            Year = @Year,  
            Color = @Color,  
            TagNumber = @TagNumber,  
            VehiclePicture = @VehiclePicture,  
            userId = @userId  
        WHERE VehicleID = @VehicleID;  
  end  
  
          
        select  'Success';  
  
    END TRY  
    BEGIN CATCH  
        PRINT 'Error occurred during insert operation:';  
        PRINT ERROR_MESSAGE();  
    END CATCH  
END;  
GO
/****** Object:  StoredProcedure [dbo].[SP_ParkingRequestWorkFlowUpdate]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE        PROCEDURE [dbo].[SP_ParkingRequestWorkFlowUpdate]  
    @Status NVARCHAR(50),
    @ParkingDetailsID INT,
    @VehicleID INT,
    @Make NVARCHAR(50),
    @Model NVARCHAR(50),
    @Year INT,
    @Color NVARCHAR(30),
    @TagNumber NVARCHAR(20),
    @VehiclePicture VARBINARY(MAX),
    @UserName NVARCHAR(255),
    @LocationId INT,
    @Area NVARCHAR(255),
    @ParkingPicture VARBINARY(MAX),
    @ParkingTimeId INT,
    @StartDateTime DATETIME,
    @EndDateTime DATETIME
AS  
BEGIN  
    BEGIN TRY  
  
  Declare @UserId int=(Select UserId from Users where UserName=@userName)  ;
  Declare @HOAId int=(Select HOAId from Users where UserName=@userName)  ;


IF(@ParkingDetailsID=0)
  Begin


IF(@VehicleID=0)
  Begin 
  INSERT INTO [dbo].[Vehicle]
            ([Make], [Model], [Year], [Color], [TagNumber], [VehiclePicture], [userId], [CreatedBy], [CreatedDate], [IsDeleted])
        VALUES
            (@Make, @Model, @Year, @Color, @TagNumber, @VehiclePicture, @UserId, @UserId, GETDATE(), 0);
    
	SET @VehicleID=(select @@IDENTITY)
  End



  
    INSERT INTO [dbo].[ParkingDetails] ([Status], [VehicleID], [userId],HOAId, [CreatedBy], [CreatedDate], [IsDeleted])
        VALUES (@Status, @VehicleID, @UserId,@HOAId,@UserId, GETDATE(), 0);

    SET @ParkingDetailsID=@@IDENTITY
  
     UPDATE [dbo].[Vehicle]
        SET 
            [Make] = @Make,
            [Model] = @Model,
            [Year] = @Year,
            [Color] = @Color,
            [TagNumber] = @TagNumber,
            [VehiclePicture] = @VehiclePicture,
            [ModifiedBy] = @UserId,
            [ModifiedDate] = GETDATE(),
            [IsDeleted] = 0
        WHERE [VehicleID] = @VehicleID;



		 INSERT INTO [dbo].[ParkingLocation] ([Area], [ParkingPicture], [ParkingDetailsID], [CreatedBy], [CreatedDate], [IsDeleted])
         VALUES (@Area, @ParkingPicture, @ParkingDetailsID, @UserId, GETDATE(), 0);


		 INSERT INTO [dbo].[DurationOfParking] ([StartDateTime], [EndDateTime], [ParkingDetailsID], [CreatedBy], [CreatedDate], [IsDeleted])
         VALUES (@StartDateTime, @EndDateTime, @ParkingDetailsID, @UserId, GETDATE(), 0);


  
  End
   
  ELSE
  Begin
		 UPDATE [dbo].[ParkingDetails]
        SET 
            [Status] = @Status,
            [ModifiedBy] = @UserId,
            [ModifiedDate] = GETDATE(),
            [IsDeleted] = 0
        WHERE [ParkingDetailsID] = @ParkingDetailsID;

		 UPDATE [dbo].[Vehicle]
        SET 
            [Make] = @Make,
            [Model] = @Model,
            [Year] = @Year,
            [Color] = @Color,
            [TagNumber] = @TagNumber,
            [VehiclePicture] = @VehiclePicture,
            [ModifiedBy] = @UserId,
            [ModifiedDate] = GETDATE(),
            [IsDeleted] = 0
        WHERE [VehicleID] = @VehicleID;

		 UPDATE [dbo].[ParkingLocation]
        SET 
            [Area] = @Area,
            [ParkingPicture] = @ParkingPicture,
            [ModifiedBy] = @UserId,
            [ModifiedDate] = GETDATE(),
            [IsDeleted] = 0
        WHERE [LocationID] = @LocationId;

		  UPDATE [dbo].[DurationOfParking]
        SET 
            [StartDateTime] = @StartDateTime,
            [EndDateTime] = @EndDateTime,
            [ModifiedBy] = @UserId,
            [ModifiedDate] = GETDATE(),
            [IsDeleted] = 0
        WHERE [ParkingTimeID] = @ParkingTimeId;



		
		
  end

     Select @ParkingDetailsID
  INSERT INTO [dbo].[ParkingWorkFlowHistory] 
   ([Status], [ParkingDetailsID], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted])
	VALUES 
	(@Status,@ParkingDetailsID,@UserId,GETDATE(),@UserId,GETDATE(),0);
     Select @ParkingDetailsID

  
    END TRY  
    BEGIN CATCH  
        PRINT 'error';  
        PRINT ERROR_MESSAGE();  
    END CATCH  
END;  
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateMyProfile]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE       PROCEDURE [dbo].[SP_UpdateMyProfile]
    @ProfileId int,
    @FirstName NVARCHAR(100),
    @MiddleName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @DOB date,
    @SecondryEmail NVARCHAR(100),
    @SecondryContact NVARCHAR(100),
    @OfficeContact NVARCHAR(100),
	@MailingAddress NVARCHAR(1000),
    @LoginImage VARBINARY(MAX)


   
AS
BEGIN
    SET NOCOUNT ON;

	Declare @UserId int=(select top 1 UserId from MyProfile where ProfileId=@ProfileId)
	
    
    BEGIN TRY
     
	 if(@ProfileId=0)
	 Begin 
	INSERT INTO MyProfile (
    FirstName,
    MiddleName,
    LastName,
    DOB,
    SecondryEmail,
    SecondryContact,
    OfficeContract,
    MailingAddress,
    LoginImage
) 
VALUES (
    @FirstName,
    @MiddleName,
    @LastName,
    @DOB,
    @SecondryEmail,
    @SecondryContact,
    @OfficeContact,
    @MailingAddress,
    @LoginImage
);

	 End
	 else
	 Begin
	   Update MyProfile set FirstName=@FirstName
		,MiddleName=@MiddleName
		,LastName=@LastName
		,DOB=@DOB
		,SecondryEmail=@SecondryEmail
		,SecondryContact=@SecondryContact
		,OfficeContract=@OfficeContact
		,MailingAddress=@MailingAddress
		,LoginImage=@LoginImage
		Where ProfileId=@ProfileId
	 End

      
  
  Select 'Success'
    END TRY
    BEGIN CATCH
       
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

   
        INSERT INTO ErrorLog (
            ErrorMessage,
            ErrorProcedure,
            ErrorLine,
            UserName
        )
        VALUES (
            ERROR_MESSAGE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            @UserId  
        );

      
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateOTP]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE      PROCEDURE [dbo].[SP_UpdateOTP] 
  
    @UserId int,
	@OTP int
  
AS
BEGIN
    SET NOCOUNT ON;

    
    BEGIN TRY
     
	 Update Users set OTP=@OTP,OTPSent=GETDATE(),ModifiedBy=@UserId,ModifiedDate=GETDATE() where UserId=@UserId;
        
	
    END TRY
    BEGIN CATCH
       
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

   
        INSERT INTO ErrorLog (
            ErrorMessage,
            ErrorProcedure,
            ErrorLine,
            UserName
        )
        VALUES (
            ERROR_MESSAGE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            @UserId  
        );

      
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ValidateOTP]    Script Date: 9/14/2024 10:08:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE                PROCEDURE [dbo].[SP_ValidateOTP] 
  
    @UserName nvarchar(100),
	@EmailId nvarchar(100),
	@MobileNumber nvarchar(100),
	@OTP nvarchar(6)
  
AS
BEGIN
    SET NOCOUNT ON;

	Declare @error nvarchar(max)='Success:Authenticated';
    
    BEGIN TRY
     
	 if(@UserName!='')
	 Begin
		
		IF Not  EXISTS (select * from users where UserName=@UserName and [OTP]=@OTP and IsDeleted=0)
		Begin
			SET @error='Error:Invalid OTP';
		End
	 end

	  if(@EmailId!='')
	 Begin
		
	 IF not EXISTS (select * from users where EmailId=@EmailId and [OTP]=@OTP and IsDeleted=0)
	Begin
		SET @error='Error:Invalid OTP';
	End
	 end
	  if(@MobileNumber!='')
	 Begin
 IF not EXISTS (select * from users where MobileNumber=@MobileNumber and [OTP]=@OTP and IsDeleted=0)
	Begin
		SET @error='Error:Invalid OTP';
	End

	 end



	
	

	select @error;

    END TRY
    BEGIN CATCH
       
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

   
        INSERT INTO ErrorLog (
            ErrorMessage,
            ErrorProcedure,
            ErrorLine,
            UserName
        )
        VALUES (
            ERROR_MESSAGE(),
            ERROR_PROCEDURE(),
            ERROR_LINE(),
            0  
        );

      
        THROW;
    END CATCH;
END;
GO
USE [master]
GO
